{% extends 'base.html' %}
{% block title %}Регистрация{% endblock %}

{% block content %}
<header>
    <h1>Регистрация</h1>
    <p class="subtitle">Создай аккаунт, чтобы начать</p>
</header>

<form method="post" class="auth-form">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="upload-btn">Зарегистрироваться</button>
</form>

<p style="text-align:center; margin-top:15px;">
    Уже есть аккаунт?
    <a href="{% url 'login' %}" style="color:#5a9367; font-weight:600;">Войти</a>
</p>
{% endblock %}
